*{
   font-family: "Arvo", serif;
}

/* .landingImage{
  position: relative;
}

.bgdark{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.57);
  height: 90vh;
  width: 100%;
} */

.main-heading{
 font-size: 90px;
 margin-top: 50px;
}
.first-section{
  height: 95vh;
}
#btnbg{
  background-color: rgb(81, 33, 225);
}

@media(max-width: 792px){
  .main-heading{
    font-size: 50px;
    margin-top: 0px;
  }
  .first-section{
    height: 70vh;
  }
}