*{
   font-family: "Arvo", serif;
}

/* .landingImage{
  position: relative;
}

.bgdark{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.57);
  height: 90vh;
  width: 100%;
} */

.main-heading{
 font-size: 90px;
 margin-top: 50px;
}
.first-section{
  height: 95vh;
}
#btnbg{
  background-color: rgb(81, 33, 225);
}
.about-img{
  display: flex;
  width: 500px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(129, 99, 218, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.startnow{
  margin: 60px 0px;
}


@media(max-width: 792px){
  .main-heading{
    font-size: 50px;
    margin-top: 0px;
  }
  .first-section{
    height: 70vh;
  }
  .about-img{
    display: none;
    width: 300px;
  }
  .startnow{
    margin: 10px 0px;
  }
  
}